<%- partial('_partial/head') %>
<body>
  <div id="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <section id="main" class="outer"><%- body %></section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>


  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2754746970856615",
    enable_page_level_ads: true
  });
  </script>
</body>
</html>